.slider {
  width: 90%; /* Takes up 90% of the parent container (body) */
  display: flex; /* Make the positioning of the slides flexible */
  overflow-x: scroll; /* As more elements fill up, the elements can scroll horizontally */
  scroll-snap-type: x mandatory; /* The scrolling snaps to individual snaps rather than stopping in the middle */
  scroll-behavior: smooth; /* Making the scrolling animations smooth and not abrupt */
  webkit-overflow-scrolling: touch; /* Makes the scrolling happen based on momentum where the speed, duration and vigority of the touch has impact on the scrolling */
}
.slide {
  width: 100%; /* Take up 100% of the width of parent div */
  height: 100%; /* Take up 100% of the height of parent div */
  flex-shrink: 0; /* Removing all the default shrink of the slides to get 1 image per screen */
  scroll-snap-align: start; /* To align the slides based on its start position */
}
.slide-wrap > a { /* Referring to the buttons inside the container slide-wrap */
  display: inline-flex; /* To get all the elements to collapse inline and stay flexible */
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  color: #84b1e0;
  text-decoration: none; /* Removing the default underlining of the text */
  align-items: center; /* Packing the items around the center in a single line */
  justify-content: center; /* Align the items toward the center */
  border-radius: 50%; /* Increasing the border radius to make the buttons circular */
  position: relative; /* Making the position relative so that they don't break the rest of the elements */
}
img.slideImages {
    width: 100%; /* Take up 100% of the container div */
}
div#description {
    color: white; /* Specifying the colour  */
    font-family: 'Raleway', sans-serif; /* Specifying the font */
    padding-left: 2%; /* Adding a little space on the left and right */
    padding-right: 2%;
    font-size: 20px; /* Specifying the font size */
}
span#title {
    font-weight: bold; /* Making the text bold */
    font-size: 30px; /* Increasing the font-size of the title specifically */
    font-family: 'Montserrat', sans-serif; /* Changing the font */
}
.button {
  background-color: white; /* Inversing the colors as compared to the rest of the screen */
  border: none; /* Removing any border */
  color: #84b1e0; /* Setting the font-color */
  padding: 5px 15px; /* Adding space in the button around the text */
  text-align: center;
  text-decoration: none; /* Removing the default underlining of the links */
  display: inline-block;
  /* The button behaves like a box in a line so that it does not necessarily disrupt the flow of the rest of the elements */
  font-size: 20px;
  margin: 4px 2px; /* Adding space around the button */
  font-family: 'Roboto', sans-serif;
}