a.menu {
    text-decoration: none; /* Removing the default underlining of the links */
    color: white; /* Specifying the colour of the text */
}
p#description {
    color: white;
    font-family: 'Raleway', sans-serif; /* Specifying the font */
    font-size: 20px;
}
div.menu {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}