.button {
  background-color: white;
  border: none;
  color: #84b1e0;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 6px 2px;
  font-family: 'Roboto', sans-serif;
}
div#event-wrapper {
    border: 0.5px solid white; /* Adding a thin border to distinguish each event */
    border-radius: 10px; /* Making the border curved by adding a radius */
    padding: 10px; /* Adding space between the border and the content inside */
    margin: 5px 5px; /* Adding space around the container outside the border */
    color: white; /* Specifying the colour of the font */
    font-family: 'Raleway', sans-serif; /* Specifying the font */
    padding-left: 2%; /* Adding a little space on the left and right */
    padding-right: 2%;
    font-size: 18px; /* Specifying the size of the font */
}
span#title {
     font-weight: bold; /* Making the text bold */
     font-size: 25px; /* Increasing the font-size of the title specifically */
     font-family: 'Montserrat', sans-serif; /* Changing the font */
}